<html>

<head>
        <title>PLM Race</title>
        <link rel="icon" href="https://vinfastquangninh.net/wp-content/uploads/2021/09/cropped-form-logo-vinfast.png"
                type="image/x-icon">
        <script src="jquery.js"></script>
        <script src="https://plmrace.herokuapp.com/socket.io/socket.io.js"></script>
        <!-- <script src="http://localhost:4321/socket.io/socket.io.js"></script> -->
        <script src="xuly.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css" />
</head>

<body>
        <!-- <div><button id="getdata">Get data</button></div>
        <div id=thongbao></div> -->
        <div id='data'></div>
</body>

</html>